:host {
  height: 100%;
}

/*Global styles*/
:host /deep/ a {
  color: inherit;
}

:host /deep/ .subheader {
  line-height: 48px;
  font-size: 14px;
  color: #0288D1;
}

:host /deep/ .empty {
  padding: 32px 16px;
  font-weight: 600;
  color: #E0E0E0;
}