.welcome {
  background: #039BE5;
}

.splash {
  margin: -50px -20px -100px;
}

.splash > core-icon {
  height: 100%;
  width: 100%;
}

.headline {
  position: relative;
  padding: 0 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
  color: white;
}

.headline.wide {
  width: 512px;
  margin: 0 auto;
}

paper-fab {
  position: absolute;
  bottom: 24px;
  right: 24px;
  background: #355089;
  z-index: 10000;
}